<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/tailwind.min.css">
    <link rel="stylesheet" href="/public/css/index.css">
    <script src="/public/js/socket.io.js"></script>
    <title>Dashoard</title>
</head>
<body>
    <header>
        <h1 class="text-white bg-green-700 py-2 pl-5 text-2xl subpixel-antialiased font-sans font-semibold">Devices Faker</h1>
    </header>
    <section class="h-full bg-green-100">
        <div class="flex flex-grow flex-wrap py-10 justify-center bg-green-100" id="mois-table">
              <table class="table w-full m-2 md:w-1/4 md:mx-2">
                <thead>
                  <tr>
                    <th class="border border-teal-900 px-4 py-2 w-1/5">Soil Moisture</th>
                    <th class="border border-teal-900 px-4 py-2 w-2/5">status</th>
                    <th class="border border-teal-900 px-4 py-2 w-2/5">value</th>
                  </tr>
                </thead>
                <tbody>
                  <% for (let device of mois_devices){%>
                    <tr id="<%= device.id %>">
                      <td class="border border-teal-900 px-4 py-2 w-1/5"><%= device.id %></td>
                      <td class="border border-teal-900 px-4 py-2 w-1/5"><%= device.status %></td>
                      <td class="border border-teal-900 px-4 py-2 w-1/5"><%= device.moisture %></td>
                    </tr>
                  <% } %>
                </tbody>
              </table>
              <table class="table w-full m-2 md:w-1/4 md:mx-2" id="speaker-table">
                <thead>
                  <tr>
                    <th class="border border-teal-900 px-4 py-2 w-1/5">Speaker</th>
                    <th class="border border-teal-900 px-4 py-2 w-2/5">status</th>
                    <th class="border border-teal-900 px-4 py-2 w-2/5">value</th>
                  </tr>
                </thead>
                <tbody>
                  <% for (let device of speaker_devices){%>
                    <tr id="<%= device.id %>">
                      <td class="border border-teal-900 px-4 py-2 w-1/5"><%= device.id %></td>
                      <td class="border border-teal-900 px-4 py-2 w-1/5"><%= device.status %></td>
                      <td class="border border-teal-900 px-4 py-2 w-1/5"><%= device.level %></td>
                    </tr>
                  <% } %>
                </tbody>
              </table>
              <form class="w-full p-5 m-2 md:w-1/5 bg-green-200 rounded" id="speaker-controller">
                <div class="md:flex md:items-center mb-6">
                  <div class="md:w-1/3">
                    <label class="block text-teal-900 font-bold md:text-right mb-1 md:mb-0 pr-4" for="id">
                      Speaker ID
                    </label>
                  </div>
                  <div class="md:w-2/3">
                    <select class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="id" name="level" >
                      <% for (let device of speaker_devices){%>
                        <option value="<%= device.id %>"><%= device.id %></option>
                      <% } %>
                    </select>
                  </div>
                </div>
                <div class="md:flex md:items-center mb-6">
                  <div class="md:w-1/3">
                    <label class="block text-teal-900 font-bold md:text-right mb-1 md:mb-0 pr-4" for="level">
                      Level
                    </label>
                  </div>
                  <div class="md:w-2/3">
                    <input required type="number" min="0" max="5000" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="level" name="level">
                  </div>
                </div>
                <div class="md:flex md:items-center mb-6">
                  <div class="md:w-1/3"></div>
                  <label class="md:w-2/3 block text-teal-900 font-bold">
                    <input id = "status" class="mr-2 leading-tight" type="checkbox">
                    <span class="text-sm">
                      OFF
                    </span>
                  </label>
                </div>
                <div class="md:flex md:items-center">
                  <div class="md:w-1/3"></div>
                  <div class="md:w-2/3">
                    <button id="control" class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="submit">
                      Control Motor
                    </button>
                  </div>
                </div>
              </form>
        </div>
    </section>
    <script>
      let socket = io();
      
      let moisMapper = new Map();

      for(let row of document.querySelector("#mois-table tbody").children){
        moisMapper.set(row.id, row)
      }

      socket.on('moischange', (data) => {
          let device = moisMapper.get(data.device_id);
          if(device){
            device.children[2].textContent = data.values[0];
          }
      });

      let speakerMapper = new Map();

      for(let row of document.querySelector("#speaker-table tbody").children){
        speakerMapper.set(row.id, row)
      }

      socket.on('speakerchange', (data) => {
        let device = speakerMapper.get(data.device_id);
          if(device){
            device.children[1].textContent = data.values[0];
            device.children[2].textContent = data.values[1];
          }
      });

      document.getElementById("speaker-controller").addEventListener('submit', (e) => {
        e.preventDefault();
        let data = {
          id: document.getElementById('id').value,
          status: Number(document.getElementById('status').checked) ? 0 : 1,
          level: Number(document.getElementById('level').value)
        };
        fetch('/control', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        });
      });

      // For Thanh Quang
      socket.on('temphumichange', (data) => {
        console.log(`${new Date().toLocaleString()} : Temp Humi: \n` + JSON.stringify(data, null, 2));
      });

            // For Thanh Quang
      socket.on('lightchange', (data) => {
        console.log(`${new Date().toLocaleString()} : LightD: \n` + JSON.stringify(data, null, 2));
      });
      
    </script>
</body>
</html>